<div class="d-flex flex-column align-items-center justify-content-center">
    <h1>Welcome to Homepage</h1>
</div>

<%= button_to "Connect a Twitter account", "/auth/twitter", method: :post, data: {turbo: "false"}, class: "btn btn-primary" %>